body {
    font-family: Arial, serif;
    background-color: #222222;
    color: #CCCCCC;
}

h4, h5 {
    margin: 10px;
}

a {
    color: #2277FF;
}

a:visited {
    color: #FF7722;
}

#canvas {
    position: absolute;
    /*outline: #AAAAAA 1px dotted;*/
}

#ui {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#textWidthTester {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
    font: 80px Arial;
}   /* Credit to CMPalmer @ https://stackoverflow.com/questions/118241/calculate-text-width-with-javascript */